<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h2>Administración de <b>Médicos</b></h2>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <a [routerLink]="['/medicos/form']" class="btn btn-success" data-toggle="modal">
                        <i class="fa fa-plus"></i>
                        <span>Agregar</span>
                    </a>
                </div>
            </div>
        </div>
        <div *ngIf="medicos?.length==0" class="alert alert-info">
            No hay registros en la base de datos.
        </div>

        <table class="rwd-table" *ngIf="medicos?.length>0">
            <tbody>
                <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>APELLIDO</th>
                    
                    <th>EDITAR</th>
                    <th>ELIMINAR</th>
                </tr>
                <tr *ngFor="let medico of medicos">
                    <td data-th="ID">
                        {{medico.id}}
                    </td>
                    <td data-th="NOMBRE">
                        {{medico.nombre}}
                    </td>
                    <td data-th="APELLIDO">
                        {{medico.apellido}}
                    </td>
                   
                    <td data-th="EDITAR">
                        <a class="edit" [routerLink]="['/medicos/form', medico.id]">
                            <i class="fa fa-edit" title="Editar"></i>
                        </a>
                    </td>
                    <td data-th="ELIMINAR">
                        <a class="remove" (click)="delete(medico)">
                            <i class="fa fa-remove" title="ELIMINAR"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <app-paginador *ngIf="paginador" [paginador]="paginador"></app-paginador>
    </div>
</div>