<div class="rad-body-wrapper rad-nav-min">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <div routerLink="/especialidades" class="rad-info-box rad-txt-success">
                    <i class="fa fa-stethoscope"></i>
                    <span class="heading">Especialidades</span>
                    <span class="value">ir</span>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div routerLink="/medicos" class="rad-info-box rad-txt-success">
                    <i class="fa fa-user-md"></i>
                    <span class="heading">Medicos</span>
                    <span class="value">ir</span>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div routerLink="/servicios" class="rad-info-box rad-txt-success">
                    <i class="fa fa-medkit"></i>
                    <span class="heading">Servicios</span>
                    <span class="value">ir</span>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div routerLink="/metodos" class="rad-info-box rad-txt-success">
                    <i class="fa fa-money"></i>
                    <span class="heading">Metodos </span>
                    <span class="heading"> de Pago</span>
                    <span class="value">ir</span>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div routerLink="/citas" class="rad-info-box rad-txt-success">
                    <i class="fa fa-calendar"></i>
                    <span class="heading">Citas </span>                    
                    <span class="value">ir</span>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div routerLink="/clientes" class="rad-info-box rad-txt-success">
                    <i class="fa fa-users"></i>
                    <span class="heading">Clientes</span>                    
                    <span class="value">ir</span>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div routerLink="/reportes" class="rad-info-box rad-txt-success">
                    <i class="fa fa-pie-chart"></i>
                    <span class="heading">Reportes</span>                    
                    <span class="value">ir</span>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div routerLink="/reportes" class="rad-info-box rad-txt-success">
                    <i class="fa fa-user"></i>
                    <span class="heading">Usuarios</span>                    
                    <span class="value">ir</span>
                </div>
            </div>
        </div>
    </div>
</div>