<div class="col-md-12">
    <input [matDatepicker]="fecha" class="form-control" style="display: inline; width: 100px;" [(ngModel)]="inicio"
        name="inicio">
    <mat-datepicker-toggle [for]="fecha"></mat-datepicker-toggle>
    <mat-datepicker #fecha panelClass="datepickerTwo"></mat-datepicker>
</div>

<div class="col-md-12">
    <input [matDatepicker]="test" class="form-control" style="display: inline; width: 100px;" [(ngModel)]="fin"
        name="fin">
    <mat-datepicker-toggle [for]="test"></mat-datepicker-toggle>
    <mat-datepicker #test panelClass="datepickerTwo"></mat-datepicker>
</div>
<div class="col-md-12">
    <button class="btn btn-success btn-rounded btn-save" role="button" (click)="getCitasMedicosReporteFecha()">
        Consultar
    </button>
</div>

<div  id="bar-chart-parent" class="cointainer" *ngIf="medData.length>0">
    <ngx-charts-bar-vertical [results]="medData" [xAxisLabel]="'Medicos'" [legendTitle]="'Citas por doctores'"
        [yAxisLabel]="'Cantidad'" [legend]="true" [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxis]="true"
        [yAxis]="true" [gradient]="true">
    </ngx-charts-bar-vertical>
</div>

<div id="pie-chart-parent" class="cointainer" *ngIf="servData.length>0">
    <ngx-charts-pie-chart [results]="servData" [legend]="true" [legendTitle]="'Citas por Servicios'" >
    </ngx-charts-pie-chart>
</div>

<div  id="number-chart-parent" class="cointainer" *ngIf="estData.length>0">
    <h1>
        Estados de citas
    </h1>
    <ngx-charts-number-card [results]="estData">
    </ngx-charts-number-card>
</div>